.navbar {
    width: 100vw;
    position: fixed;
    z-index: 10;
    padding: 6rem 3rem 3rem 6rem;
    transition: ease-in-out .5s;


    .nav-contents {
        display: flex;
        font-family: 'Nunito', sans-serif;
        

        .nav-header {
            font-family: 'Iceberg', cursive;
            font-size: 2.4rem;


            a {
                text-decoration: none;
                display: flex;
                flex-direction: row;

            .logo-left {
                color: yellow;
            }
            .logo-right {
                color: rgb(30, 135, 255)
            }

            }
        }
        
        .nav-links {
            list-style-type: none;
            display: flex;
            margin: 0 auto;
            padding: 0;
            cursor: pointer;
        }

        .nav-item a {
            // border: 1px solid red;
            color: $offWhite;
            padding: 0 40px 0 48px;
            font-size: 2rem;
            text-decoration: none;
            animation: fadeIn 500ms ease-in-out forwards;
            transform-origin: top center;
            transition: 0.3s;
        }

        .nav-item:hover a{
            color: $primaryColor;
            padding: 0px 44px 0px 44px;
        }

        .cta-btn {
            font-weight: bold;
            border: 0;
            background-color: inherit;
            color: $primaryColor;
            font-size: 2rem;
            width: 160px;
            border: 2px solid $primaryColor;
            border-radius: 8px;

            a {
                text-decoration: none;
                color: $offWhite;
            }
        }

        button:hover {
            box-shadow: 0px 0px 14px $primaryColor;
            transition: .3s;
        }

        button:hover a {
            color: $primaryColor;
            cursor: pointer;
        }
    }
}

.navbar-initial {
    // background-color: $offBlack;
    background: linear-gradient(180deg, rgb(7, 10, 17) 0%, rgba(0,0,0,0) 100%);
}

.navbar-alt {
    padding-top: 3rem;
    background-color:rgba($offBlack, 0.7);
    backdrop-filter: blur($standardBlur);

    .nav-toggle {
        top: 2rem;
        color: $offWhite;
    }
}

.nav-toggle {
    visibility: hidden;
    color: $offWhite;
    text-shadow: 0px 1px 10px $secondaryColor;

}

.nav-toggle:hover {
    outline: 4px solid $primaryColor;
    transform: rotate(180deg);
}

.nav-toggle i {
    font-size: 2.8rem;
}

.hide-container {
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

.modal-overlay {
    background-color:rgba($secondaryColor, 0.75);
    backdrop-filter: blur($standardBlur);
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 10;
    // overflow: hidden;
}

@media (max-width: 1200px) {

    .navbar {
        .nav-contents {
            .nav-item a {
                padding: 0px 10px 0px 12px;
            }
        
            .nav-item:hover a {
                padding: 0px 11px 0px 11px;
            }
        }
    }
}


@media (max-width: 768px) {
    .navbar {
        // height: auto;
        visibility: hidden;
        align-items: left;
        // height: 8rem;
        // min-width: 400px;
    }
    
    .nav-contents {
        .nav-header {
            display: none;
        }

        .nav-links {
            visibility: hidden;
            color: $offBlack;
            font-family: $headingFont;
    
            flex-direction: column;
            align-items: left;
            position: fixed;
            margin: 0;
            padding-top: 14vh !important;

            .nav-item {
                margin-bottom: 3vh;
                width: 80vw;
                text-align: left;
            }
            
            .nav-item a {
                // border: 1px solid red;
                color: $offBlack;
                font-size: 10vw;
                transition: .3s;
                padding: 2rem;
            }

            .nav-item:hover a {
                background-color: $offBlack;
            }
        }
    }

    .nav-toggle {
        // outline: 1px solid white;
        color: $offWhite;
        visibility: visible;
        border: 0px;
        background-color: inherit;
        cursor: pointer;
        transition: 0.8s;
        position: absolute;
        top: 20vw;
        right: 12vw;
         
        i {
        font-size: 7vh;
        }
    }

    .cta-btn {
        display: none;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
}
