// fonts import

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Iceberg&family=Nunito:wght@200;300&display=swap');

@font-face {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/DelaGothicOne-Regular.ttf');
}

// fonts variable names
$headingFont: 'Dela Gothic One', Times, serif;
$paragraphFont: 'Nunito';

// solid colors
$offBlack: #1f1b3b;
$offWhite: #dedde7;
$primaryColor: #1EF1BF;
$secondaryColor: #7B61FF;
$transparentColor: #ff000000;

// gradients
$gradientPrimaryStart: #00fabb;
$gradientPrimaryEnd: #00ffc838;

$gradientSecondaryStart: #280042;
$gradientSecondaryEnd: #2f00ff5d;

// blur effects
$standardBlur: 12px;

// border styles
$border-radius: 8px;

// transitions
$transition-default: all .3s ease-in-out;

// fonts
$smallParagraph: 1.8rem;
