# redirect user to page according to default browser language settings

RewriteEngine on

RewriteCond %{HTTP:Accept-Language} pl [NC]
RedirectMatch ^/$ /pl/ [L,R=301]

RewriteCond %{HTTP:Accept-Language} !pl [NC]
RedirectMatch ^/$ /en/ [L,R=301]

# Error page redirects
ErrorDocument 400 /en/400.html
ErrorDocument 401 /en/401.html
ErrorDocument 403 /en/403.html
ErrorDocument 404 /en/404.html
ErrorDocument 500 /en/500.html

