$slider-width: 40rem;
$slider-height: 80rem;

.section-portfolio {
    background: $offBlack;
    height: auto;
}

.portfolio-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50vw;
    height: 60vh;
    padding: 0 0 2rem 0;
}

.slider {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $slider-width;
    height: $slider-height;
}
  
.wrapper {
    overflow: hidden;
    position: relative;
    width: $slider-width;
    height: $slider-height;
    z-index: 1;
}
  
.slides {
    display: flex;
    position: relative;
    top: 0;
    left: -$slider-width;
    width: 10000px;

    border-radius: 12px;
}
  
.slides.shifting {
    transition: left .2s ease-out;
}
  
.slide {
    width: $slider-width;
    height: $slider-height;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    // background: #FFCF47;

    h2 {
        position: relative;
        bottom: 12%;
        color: $offBlack;
        text-align: center;
    }
}

.slider.loaded {
    .slide:nth-child(2),
    .slide:nth-child(7),
    .slide:nth-child(1),
    .slide:nth-child(6),
    .slide:nth-child(3),
    .slide:nth-child(4),
    .slide:nth-child(5) { background: #ffffff00 }
}

.control {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    // background: $secondaryColor;
    border-radius: 50px;
    margin-top: -40px;
    // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
  
.prev,
.next {
    // background-size: 62px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: $transition-default;
}
  
.prev {
    background-image: url("../img/arrow.svg");
    left: -100px;
    transform: rotate(90deg);
}
  
.next {
    background-image: url("../img/arrow.svg");
    right: -100px;
    transform: rotate(270deg);
}
  
.prev:hover {
    left: -110px;
}

.next:hover {
    right: -110px;
}



@media (max-width: 1200px) {
    .portfolio-container {
        width: 70vw;
        // border: 1px solid red;
        // padding-left: 0rem;
    }


@media (max-width: 1000px) {
    $slider-width: 30rem;
    $slider-height: 60rem;

    .portfolio-container {
        width: 80vw;
        // height: 70vh;
        // border: 1px solid red;
        // padding-left: 0rem;
    }

    }

    
}

