// -------------------------- //
// main stylesheet
// -------------------------- //

@import 

'./components/css-reset.scss', 
'./components/variables.scss', 
'./components/intro.scss',
'./components/navbar.scss', 
'./sections/hero.scss',
'./sections/services.scss',
'./sections/pitch.scss',
'./sections/workflow.scss',
'./sections/portfolio.scss',
'./sections/call-to-action.scss',
'./sections/contact-form.scss',
'./sections/footer.scss',
'../../node_modules/locomotive-scroll/src/styles/_base.scss',
'../../node_modules/locomotive-scroll/src/styles/_scrollbar.scss'
;

// * {
//     outline: 1px solid red !important;
//     // visibility: visible !important;
//     opacity: 1 !important;
// }

html {
    font-size: 62.5%;
    // scroll-behavior: smooth;
    // transition: .5s;
}

body {
    background: $offBlack;
    color: $offWhite;
    font-family: $paragraphFont;
    margin: 0;
    padding: 0;
    // width: 100vw;
    overflow-x: hidden;
    // list-style-type: none;
    // user-select: none; 
    // height: 100vh;
}

.section-container {
    margin: 0 auto;
    padding: 0 0 3rem 0;
    width: 50vw;
}

.rounded-corners {
    border-radius: $border-radius;
}

.background-container {
    // height: 6678px;
    // background-color: rgb(84, 101, 122);
}

.heading-font {
    font-family: $headingFont;
    font-size: 5.6rem;
    line-height: 90%;
    letter-spacing: -.16rem ;
    max-width: 90vw;
    font-weight: normal;
    // border: 2px solid magenta;

    strong {
        color: $primaryColor;
        font-weight: normal;
    }
}

.heading-dark {
    color: $offBlack;
    strong {
        color: $secondaryColor;
        font-weight: normal;
    }
}

.leading-text {
    display: flex;
    padding: 10rem 0rem 6rem 0rem;
    max-width: 70vw;
    // border: 1px solid grey;

    .accent {
        min-width: 1rem;

        border-radius: $border-radius;
        margin-right: 4rem;

        h1 {
            // margin-left: 14rem;
        }
    }

    .accent-primary {
        background-color: $primaryColor;
    }

    .accent-secondary {
        background-color: $secondaryColor;
    }
}

.background-glass {
    background-color:rgba($offBlack, .4);
    backdrop-filter: blur($standardBlur);
}

.custom-fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.scroll-class {
    opacity: 1;
}


.pattern-1 {
    width: 6vw;
    left: 14vw;
    top: 36vh;

    img {
        opacity: .6;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}

.pattern-2 {
    width: 4vw;
    left: 7vw;
    top: 30vh;

    img {
        opacity: .4;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}

.pattern-3 {
    width: 6vw;
    right: 7vw;
    top: 44vh;

    img {
        opacity: .2;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}

.pattern-4 {
    width: 6vw;
    right: 14vw;
    top: 74vh;

    img {
        opacity: .2;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(130deg) brightness(100%) contrast(100%);
    }
}

.pattern-5 {
    width: 4vw;
    left: 10vw;
    top: 30vh;

    img {
        opacity: .2;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(130deg) brightness(100%) contrast(100%);
    }
}

.pattern-6 {
    width: 6vw;
    right: 10vw;
    top: 42vh;

    img {
        opacity: .4;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}

.pattern-7 {
    width: 6vw;
    right: 30vw;
    top: 10vh;

    img {
        opacity: .3;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}

.pattern-8 {
    width: 16vw;
    left: 6vw;
    top: 20vh;

    img {
        opacity: .1;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}

.pattern-9 {
    width: 12vw;
    right: 6vw;
    top: 10vh;

    img {
        opacity: .1;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}

.pattern-10 {
    width: 12vw;
    right: 6vw;
    top: 10vh;

    img {
        opacity: .1;
        filter: invert(40%) sepia(50%) saturate(4000%) hue-rotate(230deg) brightness(100%) contrast(100%);
    }
}



@media (max-width: 1200px) {
    .section-container {
        // margin: 0 auto;
        padding: 0 0 4rem 2rem;
        width: 80vw;
        // height: 130rem;
        // outline: 2px solid hotpink;
        // background: red;
    }

    .pattern {
        display: none;
    }
}

@media (max-width: 768px) {
    .section-container {
        padding: 0;
    }

    .leading-text h1 {
        font-size: 8vw;
        line-height: 1;
    }
}

