.case-study-header {
    height: 50rem;
    background: url(../img/header_mockup_pc.jpg);
    background-position: center; 
    background-size: cover;
}

.case-study-title {
    /* margin-left: 40%; */
}

.color-palette-wrapper .color-palette-1 {
        background-color: #F8F8F8;
}
    
.color-palette-wrapper .color-palette-2 {
        background-color: #E9ECF1;
}
    
.color-palette-wrapper .color-palette-3 {
        background-color: #0B0E2C;
}
    
.color-palette-wrapper .color-palette-4 {
        background-color: #5567A4;
}



@media (min-width: 1200px) {

    .case-study-title {
            /* margin-left: 50%; */
    }

    .portfolio-filler {
        height: 00rem;
    }

    .mobile-background-decal {
        display: none;
    }
}

@media (min-width: 1400px) {
    .portfolio-filler {
        height: 30rem;
    }

}

@media (min-width: 1600px) {
    .mobile-background-decal {
        display: block;
    }

    .mobile-background-decal {
        margin-top: 4vh;
    }

    .portfolio-filler {
        height: 74rem;
    }
}

@media (min-width: 1800px) {
    .case-study-header {
        height: 70rem;
    }

    .mobile-background-decal {
        margin-top: 20vh;
    }

    .portfolio-filler {
        height: 110rem;
    }
}

@media (min-width: 2000px) {
    .portfolio-filler {
        height: 210rem;
    }

    .bright-section .case-study-design img {
        width: 1000px; 
        height: 4167px;
    }
}

@media (max-width: 1600px) and (min-width: 1200px) {
    .project-scope-section {
        min-height: 90rem;
    }
}

@media (max-width: 1200px) and (min-width: 1000px) {
    .project-scope-section {
        min-height: 110rem !important;
        /* border: 1px solid red; */
    }
}

@media (max-width: 768px) {
    .case-study-title {
        margin-left: 4rem;
    }
}