.section-call-to-action {
    // position: relative;
    background: $offWhite;
    // height: 44rem;

    // border: 3px solid rebeccapurple;
    // z-index: 5;

    h1 {
        font-size: 5rem;
        line-height: 1;
        // width: 2ch;
    }
}

@media (max-width: 1000px) {

}