.case-study-header {
    height: 50rem;
    background: url(../img/header_mockup_pc.jpg);
    background-position: center; 
    background-size: cover;
}

.color-palette-wrapper .color-palette-1 {
        background-color: #FCF9FF;
}
    
.color-palette-wrapper .color-palette-2 {
        background-color: #F0EBFF;
}
    
.color-palette-wrapper .color-palette-3 {
        background-color: #300A2E;
}
    
.color-palette-wrapper .color-palette-4 {
        background-color: #DE8EB3;
}

@media (min-width: 1200px) {
    .portfolio-filler {
        height: 0rem;
    }

    .mobile-background-decal {
        display: none;
    }
}

@media (min-width: 1400px) {
    .portfolio-filler {
        height: 0rem;
    }

}

@media (min-width: 1600px) {
    .portfolio-filler {
        height: 0rem;
    }

    .mobile-background-decal {
        margin-top: 0vh;
    }
}

@media (min-width: 1800px) {
    .case-study-header {
        height: 70rem;
    }

    .portfolio-filler {
        height: 0rem;
    }
}

@media (min-width: 2000px) {
    .portfolio-filler {
        height: 60rem;
    }

    .mobile-background-decal {
        display: block;
    }

    .bright-section .case-study-design img {
            width: 1000px; 
            height: 2856px;
    }
}