.case-study-header {
    height: 50rem;
    background: url(../../src/case-studies/dental-clinic/img/header_mockup_pc.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    // backdrop-filter: blur($standardBlur);
}
