#phone-section {
    background: $secondaryColor;
    color: $offWhite;
    padding: 6rem 20vw;

    h1, p {
        text-align: left;
        color: $offWhite;
    }

    h1 {
        margin: 0;
        font-size: 3.6rem;
    }

    span {
        color: $offWhite;
        font-weight: normal;
        margin-left: 1rem;
    }

    .tooth-pattern-blue {
        opacity: .4;
        // z-index: -1;
    }
}

#phone-section-decal {
    width: 70rem;
    height: 60rem;
    margin: -24rem 0 0 0;
    right: -20rem;
    z-index: 1;
}