@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400&family=Gafata&family=Mulish:wght@200;500;800;900&display=swap');

//fonts
$headerFont: 'Mulish', sans-serif;
$paragraphFont: 'Gafata', sans-serif;
$logoFont: 'El Messiri', sans-serif;

// solid colors
$offBlack: #1A2F77;
$offWhite: #F1FBFB;
$primaryColor: #A7F4F5;
$secondaryColor: #5492EE;
$accentColor: #60e867;
$transparentColor: #ff000000;

// shadows
$standardShadow: 2px 2px 10px 0px rgba(0, 60, 255, 0.2);

//outline
$o: 1px solid red;