@import 

'./css-reset.scss', // Josh's Custom CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/
'./variables.scss', // global style variables

// sections
'./top-bar-section.scss',
'./navbar.scss',
'./hero-section.scss',
'./intro-section.scss',
'./services-section.scss',
'./specialists-section.scss',
'./testimonials-section.scss',
'./location-directions-section.scss',
'./quote-section.scss',
'./contact-section.scss',
'./phone-section.scss',
'./footer-section.scss',
'./copyright.scss';
;

html * {
    // outline: .3px solid hotpink;
}

html {
    font-size: 62.5%;
    background-color: $offWhite;
    overflow-x: hidden;
}

body {
    
}

section {
    width: 100%;
    padding: 0 20vw;
}

h1, p {
    letter-spacing: -0.02em;
}

h1 {
    font-family: $headerFont;
    font-size: 5rem;
    font-weight: 900;
    color: $offBlack;
    line-height: 100%;
    text-align: center;
    margin: 10rem auto 2rem;

    span {
        color: $secondaryColor;
    }
}

p {
    font-size: 2rem;
    font-family: $paragraphFont;
    font-weight: 200;
    text-align: center;
    color: $offBlack;
    line-height: 145%;
}

.tooth-pattern-white {
    position: absolute;
    background: url("../img/testimonial-cards/tooth_pattern_white.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain; 
    opacity: .1;
}

.tooth-pattern-blue {
    position: absolute;
    background: url("../img/testimonial-cards/tooth_pattern_blue.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain; 
    opacity: .1;
    z-index: -1;
}