.section-hero {
    z-index: 1;
    height: 1000px;
    width: 100%; /* You must set a specified height */
    background-image: url("/img/hero-bkg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    // position: relative;
    // background-attachment: fixed;

}

.hero-copy-wrapper {
    position: relative;
    width: 75%;
    height: 60%;
    left: 0px;
    top: 250px;
}

.background-glass {
    background-color:rgba($offBlack, 0.75);
    backdrop-filter: blur(5px);
    // transition: 1s;
    min-width: 800px;
}

.hero-copy {
    position: absolute;
    // outline: 1px solid red;
    margin-left: 40%;
    margin-top: 100px;
    // padding: 3rem;
    // width: 60rem;

    p {
        font-size: 3.4rem;
    }

    h1 {
        font-size: 10rem;
    }
}

.hero-asset {
    // outline: 1px solid teal;
    margin-left: 70%;
    height: 125%;
    width: 300px;
    transition: 0s;
    
    img {
        min-height: 100%;
    }
}

.arrow-down {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 30rem;
    width: 16rem;
    height: 6rem;
    padding: 2rem;
    transition: 0.3s;

    img {
        margin: 0 auto;
    }

}

.arrow-down:hover {
    border: 1px solid red;
    margin-top: 31rem;
}


@media (max-width: 1000px) {

    .hero-copy {
        margin-top: 14rem;
        margin-left: 25%;
    }
}


@media (max-width: 767px) {

    .hero-copy {
        // position: absolute;
        // outline: 1px solid red;
        margin-left: 40%;
        // margin-top: 100px;
        // padding: 3rem;
        // width: 60rem;
    
        p {
            font-size: 2.8rem;
        }
    
        h1 {
            font-size: 8rem;
        }
    }

    .background-glass {
        background-color:rgba($offBlack, 0.75);
        backdrop-filter: blur(5px);
        transition: 1s;
        min-width: 100%;
    }

    .hero-copy {
        margin-left: 10%;
    }
    
    .hero-asset {
        margin-left: 50%;
        
    }

}

@media (max-width: 500px) {
    .section-hero {
        max-height: 96rem;
    }

    .hero-copy {
        margin-left: 20%;
        margin-top: 7rem;
    
        p {
            font-size: 2.4rem;
        }
    
        h1 {
            font-size: 6rem;
        }
    }

    .background-glass {
        height: 40rem;
    }
}