.section-why-go-online {
    background: url("/img/bkg_why_online.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%;

    h2 {
        font-size: 2.8rem;
        letter-spacing: -.1rem;
    }

    li {
        font-size: 2rem;
        list-style-type: none;
    }

    strong {
        color: $primaryColor;
        font-weight: normal;
        }
}


.section-why-go-online .background-glass {
    // border: 1px solid red;
    width: 90%;
    // margin-left: 5%;
    padding: 5rem;


    .fa-caret-right {
        margin-right: 1rem;

    }
}


// .background-glass li:before {
//     content: '+ ';
//     display: inline-block;
//   }