@import 'cssReset.scss';
@import 'variables.scss';
@import 'navbar.scss';
@import 'hero.scss';
@import 'services.scss';
@import 'pitch.scss';
@import 'workflow.scss';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: .5s;
}

body {
    background: $offBlack;
    color: $offWhite;
    font-family: $paragraphFont;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section-container {
    margin: 0 auto;
    padding: 0 0 6rem 0;
    width: 90rem;
    // height: 130rem;
    // border: 3px solid lightcoral;
    // background: red;
}

.rounded-corners {
    border-radius: $border-radius;
}

.background-container {
    // height: 6678px;
    background-color: rgb(84, 101, 122);
}

.heading-font {
    font-family: $headingFont;
    font-size: 4.8rem;
    line-height: 100%;
    max-width: 640px;
    font-weight: normal;
    // border: 2px solid magenta;

    strong {
        color: $primaryColor;
        font-weight: normal;
        }
}

.heading-dark {
    color: $offBlack;
    strong {
        color: $secondaryColor;
        font-weight: normal;
    }
}


.leading-text {

    display: flex;
    margin: 0 auto;
    padding: 12rem 15rem 6rem 0rem;

    .accent {
        min-width: 1rem;

        border-radius: $border-radius;
        margin-right: 4rem;

        h1 {
            // margin-left: 14rem;
        }
    }

    .accent-primary {
        background-color: $primaryColor;
    }

    .accent-secondary {
        background-color: $secondaryColor;
    }

}



// .hero-text {
//     position: absolute;
//     outline: 5px solid red;
//     margin-top: 8rem;
// }

.section-why-go-online {

    h2 {
        font-size: 2.8rem;
    }

    li {
        font-size: 2rem;
        list-style-type: none;
    }

    strong {
        color: $primaryColor;
        font-weight: normal;
        }
}


@media (max-width: 767px) {


    .background-container {
        // display: block;
    }

    .leading-text {
        .accent {
            min-width: 1rem;
            margin-right: 3rem;
        }
    }

    .heading-font {
        font-size: 3.8rem;
    }
}

@media (max-width: 500px) {


}