// -------------------------- //
// main stylesheet
// -------------------------- //

@import './components/cssReset.scss', 
'./components/variables.scss', 
'./components/navbar.scss', 
'./sections/hero.scss',
'./sections/services.scss',
'./sections/pitch.scss',
'./sections/workflow.scss',
'./sections/portfolio.scss',
'./sections/calltoaction.scss',
'./sections/contactForm.scss',
'./sections/footer.scss';


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: .5s;
}

body {
    background: $offBlack;
    color: $offWhite;
    font-family: $paragraphFont;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section-container {
    margin: 0 auto;
    padding: 0 0 6rem 0;
    width: 90rem;
    // height: 130rem;
    // outline: 2px solid hotpink;
    // background: red;
}

.rounded-corners {
    border-radius: $border-radius;
}

.background-container {
    // height: 6678px;
    // background-color: rgb(84, 101, 122);
}

.heading-font {
    font-family: $headingFont;
    font-size: 4.8rem;
    line-height: 100%;
    letter-spacing: -.1rem ;
    max-width: 640px;
    font-weight: normal;
    // border: 2px solid magenta;

    strong {
        color: $primaryColor;
        font-weight: normal;
        }
}

.heading-dark {
    color: $offBlack;
    strong {
        color: $secondaryColor;
        font-weight: normal;
    }
}


.leading-text {
    display: flex;
    padding: 12rem 15rem 6rem 0rem;

    .accent {
        min-width: 1rem;

        border-radius: $border-radius;
        margin-right: 4rem;

        h1 {
            // margin-left: 14rem;
        }
    }

    .accent-primary {
        background-color: $primaryColor;
    }

    .accent-secondary {
        background-color: $secondaryColor;
    }

}

@media (max-width: 1000px) {
    .section-container {
        padding: 0 0 6rem 6rem;
        // border: 1px solid red;
    }

}

@media (max-width: 768px) {

    .section-container {
        padding: 0 0 10rem 6rem;
        // border: 1px solid red;
    }
}

