/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Iceberg&family=Nunito:wght@200;300;400;500;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding-top: 10rem;
}

.navbar .nav-contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: 'Nunito', sans-serif;
}

.navbar .nav-contents .nav-header {
  font-family: 'Iceberg', cursive;
  font-size: 2.1rem;
  margin: 0 auto 0 8rem;
}

.navbar .nav-contents .nav-header a {
  color: #1EF1BF;
  text-decoration: none;
}

.navbar .nav-contents .nav-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.navbar .nav-contents .nav-item a {
  color: #ECEBF2;
  padding: 0 40px 0 48px;
  font-size: 2rem;
  text-decoration: none;
  -webkit-animation: fadeIn 500ms ease-in-out forwards;
          animation: fadeIn 500ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .nav-contents .nav-item:hover a {
  color: #1EF1BF;
  padding: 0px 44px 0px 44px;
}

.navbar .nav-contents .cta-btn {
  font-weight: bold;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  color: #1EF1BF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 2rem;
  width: 160px;
  outline: 2px solid #1EF1BF;
  border-radius: 8px;
  margin: 0 8rem 0 auto;
}

.navbar .nav-contents .cta-btn:hover {
  color: #7B61FF;
}

.navbar-solid {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #070a11), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #070a11 20%, rgba(0, 0, 0, 0) 100%);
}

.navbar-alt {
  padding-top: 3rem;
  background-color: rgba(26, 23, 47, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar-alt .nav-toggle {
  top: 2rem;
  color: #ECEBF2;
}

.nav-toggle {
  visibility: hidden;
  color: #ECEBF2;
}

.nav-toggle:hover {
  outline: 1px solid #1EF1BF;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.nav-toggle i {
  font-size: 2.8rem;
}

.nav-toggle i:hover {
  transform: rotate(10deg);
  -webkit-transform: rotate(180deg);
}

.hide-container {
  visibility: hidden;
}

.show-container {
  visibility: visible;
}

.modal-overlay {
  background-color: rgba(30, 241, 191, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
}

@media (max-width: 1000px) {
  .navbar .nav-contents .nav-item a {
    padding: 0px 10px 0px 12px;
  }
  .navbar .nav-contents .nav-item:hover a {
    padding: 0px 11px 0px 11px;
  }
  .navbar .nav-contents .cta-btn {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .navbar-solid {
    background: rgba(0, 0, 0, 0);
  }
  .navbar {
    height: auto;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    height: 9rem;
    min-width: 400px;
  }
  .nav-contents .nav-links {
    color: #1A172F;
    font-family: "Dela Gothic One", "Dela Gothic", Times, serif;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    position: fixed;
    background-color: inherit;
    height: auto;
    margin-top: 9rem;
  }
  .nav-contents .nav-links .nav-item {
    padding-bottom: 3rem;
    width: 100vw;
    text-align: left;
  }
  .nav-contents .nav-links .nav-item a {
    color: #1A172F;
    font-size: 3rem;
  }
  .nav-contents .nav-links .nav-item:hover a {
    background-color: #1A172F;
    width: 100vw;
  }
  .nav-toggle {
    color: #ECEBF2;
    visibility: visible;
    border: 0px;
    background-color: inherit;
    cursor: pointer;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    position: absolute;
    top: 9rem;
    right: 8rem;
  }
  .nav-toggle i {
    font-size: 5rem;
  }
  .cta-btn {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.section-hero {
  z-index: 1;
  height: 1000px;
  width: 100%;
  /* You must set a specified height */
  background-image: url("/img/hero-bkg.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.hero-copy-wrapper {
  position: relative;
  width: 75%;
  height: 60%;
  left: 0px;
  top: 250px;
}

.background-glass {
  background-color: rgba(26, 23, 47, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  min-width: 800px;
}

.hero-copy {
  position: absolute;
  margin-left: 40%;
  margin-top: 100px;
}

.hero-copy p {
  font-size: 3.4rem;
}

.hero-copy h1 {
  font-size: 10rem;
}

.hero-asset {
  margin-left: 70%;
  height: 125%;
  width: 300px;
  -webkit-transition: 0s;
  transition: 0s;
}

.hero-asset img {
  min-height: 100%;
}

.arrow-down {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 30rem;
  width: 16rem;
  height: 6rem;
}

.arrow-down img {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .hero-copy {
    margin-top: 14rem;
    margin-left: 25%;
  }
}

@media (max-width: 767px) {
  .hero-copy {
    margin-left: 40%;
  }
  .hero-copy p {
    font-size: 2.8rem;
  }
  .hero-copy h1 {
    font-size: 8rem;
  }
  .background-glass {
    background-color: rgba(26, 23, 47, 0.75);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-transition: 1s;
    transition: 1s;
    min-width: 100%;
  }
  .hero-copy {
    margin-left: 10%;
  }
  .hero-asset {
    margin-left: 50%;
  }
}

@media (max-width: 500px) {
  .section-hero {
    max-height: 96rem;
  }
  .hero-copy {
    margin-left: 20%;
    margin-top: 7rem;
  }
  .hero-copy p {
    font-size: 2.4rem;
  }
  .hero-copy h1 {
    font-size: 6rem;
  }
  .background-glass {
    height: 40rem;
  }
}

.section-services {
  background: #ECEBF2;
}

.background-pattern {
  position: absolute;
  background: url("/img/dots-pattern.png");
  background-size: cover;
  opacity: 0.1;
}

.dots-1 {
  width: 20rem;
  height: 20rem;
  left: 10%;
  top: 51rem;
  opacity: 0.5;
  z-index: 1;
}

.dots-2 {
  width: 15rem;
  height: 15rem;
  right: 10%;
  top: 120rem;
}

.dots-3 {
  width: 20rem;
  height: 20rem;
  left: -2%;
  top: 180rem;
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.div2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 4 / 3;
}

.div5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.div6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.div7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

.tile {
  background-color: #1EF1BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: cover;
  opacity: .8;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.tile h2 {
  height: 20%;
  width: 100%;
  color: #ECEBF2;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 2rem 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tile p {
  height: 80%;
  width: 100%;
  position: relative;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.tile:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 1;
}

.tile:hover h2 {
  color: #7B61FF;
}

.tile:hover p {
  color: #ECEBF2;
}

.square-tile {
  width: 280px;
  height: 280px;
  border-radius: 8px;
}

.vertical-tile {
  width: 280px;
  height: 580px;
  border-radius: 8px;
}

.div1 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#280042), to(#2f00ff5d)), url("/img/tile_1.jpeg");
  background-image: linear-gradient(to top, #280042, #2f00ff5d), url("/img/tile_1.jpeg");
}

.div2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#280042), to(#2f00ff5d)), url("/img/tile_2.jpeg");
  background-image: linear-gradient(to top, #280042, #2f00ff5d), url("/img/tile_2.jpeg");
}

.div3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#280042), to(#2f00ff5d)), url("/img/tile_3.jpeg");
  background-image: linear-gradient(to top, #280042, #2f00ff5d), url("/img/tile_3.jpeg");
}

.div4 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#280042), to(#2f00ff5d)), url("/img/tile_4.jpeg");
  background-image: linear-gradient(to top, #280042, #2f00ff5d), url("/img/tile_4.jpeg");
}

.div5 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#280042), to(#2f00ff5d)), url("/img/tile_5.jpeg");
  background-image: linear-gradient(to top, #280042, #2f00ff5d), url("/img/tile_5.jpeg");
}

.div6 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#280042), to(#2f00ff5d)), url("/img/tile_6.jpeg");
  background-image: linear-gradient(to top, #280042, #2f00ff5d), url("/img/tile_6.jpeg");
}

.div7 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#280042), to(#2f00ff5d)), url("/img/tile_7.jpeg");
  background-image: linear-gradient(to top, #280042, #2f00ff5d), url("/img/tile_7.jpeg");
}

@media (max-width: 1000px) {
  .background-pattern {
    display: none;
  }
  .leading-text {
    padding: 10rem 15rem 8rem 15rem;
  }
  .tiles-container {
    padding: 0 11rem;
  }
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin: auto 4rem;
  }
  .div1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .div3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .div4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 4 / 3;
  }
  .div5 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
  }
  .div6 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / 5 / 3;
  }
  .div7 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media (max-width: 767px) {
  .section-container-services {
    width: 95%;
  }
  .section-services {
    background: #ECEBF2;
  }
  .leading-text {
    padding: 6rem 4rem 6rem;
  }
  .tiles-container {
    padding: 0rem;
    margin: 0 auto;
  }
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    margin: 0;
  }
  .parent div {
    grid-area: unset;
  }
  .tile {
    width: 100%;
    height: 580px;
    margin: 0 auto;
  }
  .tile h2 {
    color: #1A172F;
    font-size: 2.4rem;
    text-align: center;
  }
  .square-tile {
    border-radius: 8px;
  }
  .square-tile h2 {
    margin-top: 52rem;
  }
  .vertical-tile {
    border-radius: 8px;
  }
  .vertical-tile h2 {
    margin-top: 52rem;
  }
}

.section-why-go-online {
  background: url("/img/bkg_why_online.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 100%;
}

.section-why-go-online .background-glass {
  width: 90%;
  padding: 5rem;
}

.section-why-go-online .background-glass .fa-caret-right {
  margin-right: 1rem;
}

.section-workflow {
  position: relative;
  background: #ECEBF2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-transition: .5s;
  transition: .5s;
}

body {
  background: #1A172F;
  color: #ECEBF2;
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section-container {
  margin: 0 auto;
  padding: 0 0 6rem 0;
  width: 90rem;
}

.rounded-corners {
  border-radius: 8px;
}

.background-container {
  background-color: #54657a;
}

.heading-font {
  font-family: "Dela Gothic One", "Dela Gothic", Times, serif;
  font-size: 4.8rem;
  line-height: 100%;
  max-width: 640px;
  font-weight: normal;
}

.heading-font strong {
  color: #1EF1BF;
  font-weight: normal;
}

.heading-dark {
  color: #1A172F;
}

.heading-dark strong {
  color: #7B61FF;
  font-weight: normal;
}

.leading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 12rem 15rem 6rem 0rem;
}

.leading-text .accent {
  min-width: 1rem;
  border-radius: 8px;
  margin-right: 4rem;
}

.leading-text .accent-primary {
  background-color: #1EF1BF;
}

.leading-text .accent-secondary {
  background-color: #7B61FF;
}

.section-why-go-online h2 {
  font-size: 2.8rem;
}

.section-why-go-online li {
  font-size: 2rem;
  list-style-type: none;
}

.section-why-go-online strong {
  color: #1EF1BF;
  font-weight: normal;
}

@media (max-width: 767px) {
  .leading-text .accent {
    min-width: 1rem;
    margin-right: 3rem;
  }
  .heading-font {
    font-size: 3.8rem;
  }
}
/*# sourceMappingURL=style.css.map */